@font-face {
  font-family: proxima-nova;
  src: url(fonts/ProximaNova/ProximaNovaRegular.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-light;
  font-weight: light;
  src: url(fonts/ProximaNova/ProximaNovaLight.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-bold;
  font-weight: bold;
  src: url(fonts/ProximaNova/ProximaNovaBold.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-thin;
  src: url(fonts/ProximaNova/ProximaNovaThin.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-extra-bold;
  src: url(fonts/ProximaNova/ProximaNovaExtrabold.otf) format("opentype"); }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #f9f9f9;
    color: #002FC1;
    overflow-x: hidden;
}

a {
    color: #002FC1;
    text-decoration: none;
    border-bottom: solid 2px #002FC1;
    transition: 0.3s;
}

a:hover {
    color: #1b1b1b;
    text-decoration: none;
    border-color: #1b1b1b;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #002FC1;
    text-decoration: none;
    border-color: #002FC1;
}

a:visited:hover {
    color: #1b1b1b;
    text-decoration: none;
    border-color: #1b1b1b;
}

main {
    position: relative;
}

.find_us {
	cursor: pointer;
}

.find_us:hover .fa {
	transform: translateY(-8px);
    transition: 0.3s;
}

.logotype {
	display: inline-block;
    vertical-align: middle;
    width: 15%;
}

.autoservice_name {
	display: inline-block;
    vertical-align: middle;
    width: 65%;
    margin-left: 5%;
}

.name_label {
	letter-spacing: 0px;
    margin-bottom: -12px;
}

.text_xs {
    font-family: proxima-nova-bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
}

.text_sm {
    font-family: proxima-nova-bold;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 1.3px;
}

.text_md {
    font-family: proxima-nova-bold;
    font-size: 41px;
    line-height: 50px;
    letter-spacing: 2px;
}

.text_lg {
    font-family: proxima-nova-bold;
    font-size: 72px;
    line-height: 87px;
}

.container-fluid,.row {
	padding: 2%;
    margin: 0;
}

[class*="col-"] {
    padding: 0;
}

.logo {
    margin: 200px 0 150px;
}

.rect_wrapper {
    border: solid 2px #002FC1;
    border-radius: 100px;
    min-height: 450px;
}

.centered {
    position: absolute;
    top: 50%;
    margin-left: -140px;
    left: 50%;
    transform: translateY(-50%);
}

.rect_bot .centered {
	left: 0;
    margin-left: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.rect_line {
	height: 50px;
    width: 2px;
    margin: 75px 0;
    background-color: #002FC1;
    margin-left: 25%;
}

.rect_right .rect_label_bot {
    text-align: right;
}

.rect_right .rect_line{
    margin-left: 75%;
}

.rect_right .centered{
	margin-left: -166px;
}

.rect_label_top {
	text-align: left;
    margin-bottom: -5px;
}

.rect_main_text {
    text-align: left;
}

.text_vertical_wrapper {
    position: relative;
    min-height: 450px;
}

.text_vertical {
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -124px;
}

.service_list {
	text-align: center;
    padding: 0;
    margin: 0;
}

.service_list_item {
	margin-bottom: 25px;
}

.list_right .service_list_item {
	margin-bottom: 35px;
}

.service_list_item:last-child {
	margin-bottom: 0;
}

.text_horizontal_wrapper {
    text-align: left;
    height: 100%;
}

.text_horizontal {
    margin-top: 25px;
    margin-left: 22%;
}

.rect_bot:before {
	content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #002FC1;
    left: 34%;
    top: -15%;
}

.rect_bot_right:before {
	content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #002FC1;
    left: 66%;
    top: -15%;
}

.car_wrapper {
	text-align: center;
}

.car_wrapper img{
    width: 100%;
    height: 100%;
}

.sea {
    height: 1000px;
    background-image: url(images/sea.svg);
    position: relative;
    padding-top: 400px;
}

.map {
    width: 100%;
    height: 500px;
}

.map_inner_borders {
    pointer-events: none;
    height: 400px;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border: solid 5px #002FC1;
}

.circle_wrapper {
    background-color: #F03F43;
    border-radius: 250px;
    height: 500px;
    width: 500px;
    text-align: center;
    position: relative;
    padding-top: 115px;
    box-sizing: border-box;
    display: inline-block;
}

.sun {
    background-image: url(images/sun.svg);
    background-size: cover;
    height: 232px;
    width: 250px;
    position: absolute;
    left: -150px;
    top: 135px;
    display: inline-block;
}

.additional {
    text-align: center;
    position: relative;
}

.circle_header {
    color: #FAF000;
}

.hr_blue {
	background-color: #002FC1;
    height: 2px;
    width: 20%;
    margin: 100px auto;
}

.social_line {
	color: #FAF000;
    margin-top: 100px;
}

.social_line a {
    color: #FAF000;
    border: none;
}

.fa {
    margin-right: 10px;
}

@media (max-width: 991px) {
    .text_vertical {
        transform: none;
        margin-left: 0;
        margin-top: 70px;
        left: 0;
        top: 0;
        display: inline-block;
        position: relative;
    }
    .text_vertical:after {
	    content: " / Радановичи";
        
    }
    .text_vertical_wrapper {
	    min-height: 200px;
        text-align: center;
    }
    .text_horizontal_wrapper {
	    text-align: center;
        margin-bottom: 50px;
    }
    .text_horizontal {
        margin-left: 0;	
    }
    .rect_bot {
	    min-height: 850px !important;
    }
    .rect_bot:before {
        top: -8%;
    }
    .car_wrapper img{
        width: 30%;
        margin: 50px 0;
    }
}

@media (max-width: 600px) {
    .text_xs {
        font-size: 12px;
    }
    .text_sm {
        font-size: 18px;
    }
    .text_md {
	    font-size: 28px;
    }
    .text_lg {
        font-size: 50px;
    }
    .name_label {
	    margin-bottom: -25px;
    }
    .rect_label_top {
        margin-bottom: -13px;
    }
    .centered {
        margin-left: -100px;
    }
    .rect_right .centered {
        margin-left: -118px;
    }
    .circle_wrapper {
	    width: 350px;
        height: 350px;
        padding-top: 100px;
    }
    .sun {
        display: none;
    }
    .social_line {
	    margin-top: 50px;
    }
    .sea {
	    height: 850px;
    }

}

@media (max-width: 425px) {
    .text_vertical {
	    font-size: 18px;
    }
    .circle_wrapper {
	    width: 280px;
        height: 280px;
        padding-top: 80px;
    }
    .sun {
        display: none;
    }
    .social_line {
	    margin-top: 30px;
    }
    .sea {
	    height: 800px;
    }
    .rect_bot:before {
        display: none;
    }
    .rect_wrapper {
        min-height: 350px;
    }
    .rect_line {
	    margin-top: 40px;
	    margin-bottom: 40px;
    }
}