doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js")
    link(rel="stylesheet", href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    section#intro
        .top
            .we_work с 9:00 - 18:00
            .phone +382-67-311-691
        .centered
            .header_big_label автосервис
            h1.header_big TRITONA
        .bottom
            img(src="../images/arrow_down_pure.svg", alt="").arrow
    section#what_we_do
        .wrapper
            .label 
                .word Услуги
            .info
                .info_row Кузовные работы 
                .info_row Восстановление геометрии кузова
                .info_row Автопокраска
                .info_row Полировка
                .info_row Автослесарные работы (автоподъемник грузоподъемностью 2,3 т)
            .label 
                .word Наши возможности
            .info
                .info_row Камера Firat ULTRA для окраски и сушки автомобилей
                .info_row Работа со страховыми компаниями Черногории
                .info_row Гарантия на все виды работ
    section#map
    .lines
    
    
    script(src="/javascripts/jquery-3.1.1.min.js")
    script(src="/javascripts/main.js")
    script(src="http://cdn.jsdelivr.net/vivus/latest/vivus.min.js")